<!-- <ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/1">About</a></li>
</ul> -->
<!-- <router-outlet></router-outlet> -->

<ngx-carousel
    [inputs]="carouselOne"
    (carouselLoad)="myfunc($event)">
      <ngx-item NgxCarouselItem>
      	<div>
  			<canvas id="canvas1">{{ chart }}</canvas>
		</div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
        <div>
  			<canvas id="canvas2">{{ chart }}</canvas>
		</div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
       	<div>
  			<canvas id="canvas3">{{ chart }}</canvas>
		</div>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

